<div class="homepage-SearchFilter col-md-7" id="homepageSearchFilter">
    <div class="menuFilter">
        <div class="mobil tab-menu active" id="tab-mobil" value="MOBIL" style="border-radius: 5px 5px 0px 0px;">
            <i class="icon-mobil"></i> Mobil
        </div>
    </div>


    <div class="form-pilihan">
        <div class="row">
            <div class="huruf title-prod col-lg-4">
                Produk
                <select class="dropdown-prod huruf form-option select2-hidden-accessible" id="category" data-select2-id="category" tabindex="-1" aria-hidden="true">
<option class="option-prod" value="SUKUCADANG" data-select2-id="2">
Semua Produk</option>

s

s
<option value="MOBILAKI">Aki</option><option value="MOBILOLI">Oil</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 160px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-category-container"><span class="select2-selection__rendered" id="select2-category-container" role="textbox" aria-readonly="true" title="
Semua Produk">
Semua Produk</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>

            <div class="huruf title-brand col-lg-4">
                Merek
                <select id="brand" value="" class="ori dropdown-brand huruf form-option select2-hidden-accessible" disabled="" data-select2-id="brand" tabindex="-1" aria-hidden="true">
    <option value="BRAND" data-select2-id="4">
        Semua Merek</option>
    
        
        </select><span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" data-select2-id="3" style="width: 160px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" aria-labelledby="select2-brand-container"><span class="select2-selection__rendered" id="select2-brand-container" role="textbox" aria-readonly="true" title="
        Semua Merek">
        Semua Merek</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>

            <div class=" huruf title-type col-lg-4">
                Tipe
                <select id="type" class="ori dropdown-type huruf form-option select2-hidden-accessible" disabled="" data-select2-id="type" tabindex="-1" aria-hidden="true">
<option value="MODEL" data-select2-id="6">
Semua Tipe</option>

    
    
    
    
    </select><span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" data-select2-id="5" style="width: 160px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" aria-labelledby="select2-type-container"><span class="select2-selection__rendered" id="select2-type-container" role="textbox" aria-readonly="true" title="
Semua Tipe">
Semua Tipe</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
        </div>
        <div class="search">
            <button class="btn" type="button" id="searchVehicleComponent">Cari</button>

        </div>
    </div>
</div>