.image-gallery-pdp .product-img-box {
  max-height: 100%;
  width: 99%;
  height: 356px;
  border-radius: 8px;
  border: solid 1px #dbdfe9;
  background-color: #ffffff;
  @media screen and (min-width: 992px) {
    max-width: 334px;
  }
  @media screen and (max-width: 768px) {
    width: 100% !important;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 344px;
    object-fit: contain;
    -o-object-fit: contain;
    border-radius: 8px;
    margin: 5px auto;
    vertical-align: middle;
  }

}

.image-gallery {
  .slick-slider .slick-next {
    background-color: transparent !important;
    border: none !important;
    right: -28px;
    top: 38%;
    transform: rotate(-90deg);
    width: 38px;
    height: 30px;
    border-radius: 2px;
    @media screen and (max-width: 991px){
      right: -31px !important;
    }
    @media screen and (max-width: 768px){
      right: -35px !important;
    }

    &:before {
      content: '\e942';
      font-family: 'icomoon', serif !important;
      color: #1c2c47 !important;
      font-size: 15px;
    }
  }

  .slick-slider .slick-prev {
    left: -28px;
    background-color: transparent !important;
    border: none !important;
    top: 40%;
    transform: rotate(90deg);
    z-index: 1;

    &:before {
      content: '\e942';
      font-family: 'icomoon', serif !important;
      color: #1c2c47 !important;
      font-size: 15px;
    }
  }
}


.gallery-carousel-pdp {
  padding-top: 10px;
  width: 98%;
  padding-left: 5px;

  img {
    width: 64px;
    height: 66px;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #dbdfe9;
    margin: auto;
    @media screen and (max-width: 1199px) {
      width: 52px !important;
      height: 52px;
    }
  }

  a {
    &:focus {
      outline: none !important;
    }
  }
  .slick-track{
    float: left;
  }

}


.gallery-carousel-pdp .slick-slide.slick-active {
  width: 64px;
  height: 70px;
  margin: auto;
  vertical-align: middle;
}

.gallery-carousel-pdp .slick-slide.slick-current.slick-active {
  width: 64px !important;
  height: 70px;
  border-radius: 5px;
  border: solid 2px #2769f6;
  margin: auto;
  vertical-align: middle;
  @media screen and (max-width: 1199px) {
    width: 52px !important;
    height: 56px;
  }
}

.gallery-carousel-pdp .slick-slide {
  width: 66px !important;
  @media screen and (max-width: 1199px) {
    width: 52px !important;
  }
}

@media screen and (max-width: 991px) {
  .gallery-carousel-pdp {
    display: none;
  }
}

.gallery-popup .prdt-main-img__slider1 {
  height: auto !important;
}

.pdp_image_gallery_items-popup1 .slick-next {
  background-color: transparent !important;
  border: none !important;
  @include screen(mobile) {
    height: 28.7px !important;
    width: 36.9px !important;
    border-radius: 1px !important;
    border: solid 1px #dbdfe9 !important;
    background-color: #ffffff !important;
    right: 0px !important;
    margin-top: -6px !important;
  }

  &:before {
    color: #ffffff !important;
    font-size: 41px !important;
    @include screen(mobile){
      color: #2769f6 !important;
      font-size: 20px !important;
    }
  }
}

.pdp_image_gallery_items-popup1 .slick-prev {
  background-color: transparent !important;
  border: none !important;
  @include screen(mobile) {
    height: 28.7px !important;
    width: 36.9px !important;
    border-radius: 1px !important;
    border: solid 1px #dbdfe9 !important;
    background-color: #ffffff !important;
    left: 0px !important;
    margin-top: -6px !important;
  }

  &:before {
    color: #ffffff !important;
    font-size: 41px !important;
    @include screen(mobile){
      color: #2769f6 !important;
      font-size: 20px !important;
    }
  }
}