
/*form styles*/
#msform {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 400px){
    width: 300px;
  }
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


#progressbar li{
  list-style-type: none;
  color: #d0d2d3;
  text-transform: capitalize;
  font-size: 9px;
  width: 30%;
  float: left;
  position: relative;
  @media screen and (max-width: 355px){
    width: 28%;
  }
}
#progressbar li.active {
  list-style-type: none;
  color: #2769f6;
  text-transform: capitalize;
  font-size: 9px;
  width: 30%;
  float: left;
  position: relative;
  background-clip: content-box;
}

#progressbar li:before {
  content: counter(step);
  //counter-increment: step;
  width: 37.6px;
  line-height: 37.6px;
  display: block;
  font-size: 10px;
  color: white;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  border: solid 1px #d0d2d3;
  @media screen and (max-width: 767px){
    width: 24px;
    height: 24px;
  }
  //background-color: #ffffff;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #d0d2d3;
  position: absolute;
  left: -50%;
  top: 18px;
  z-index: -1; /*put it behind the numbers*/
  @media screen and (max-width: 767px){
    top: 11px;
  }
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps blue*/
#progressbar li.active:before{
  background: white;
  content: counter(step);
  border: solid 0.5px blue;
}

#progressbar li.active:after{
  color: blue;
  border: solid 0.5px blue;
}

#progressbar{
  .progress_list1, .progress_list2, .progress_list3{
    font-size: 16px;
    display: none;
    font-family: Rubik-medium;
    @media screen and (max-width: 767px){
      font-size: 12px;
    }
}
}


.\.header-progress-container {
  background: #f8f8f9 !important;
  margin-bottom: 40px;
  margin-top: -27px;
  height: 100px;
  @media screen and (max-width: 767px){
    height: 80px;
    margin-bottom: 5px;
  }
}
#progressbar .progress_point{
  //border: solid 1px #00f;
  position: absolute;
  top: 10px;
  width: 18.1px;
  height: 18.1px;
  border-radius: 50%;
  background-color: #2769f6;
  left: 44px;
  @media screen and (max-width: 767px){
    width: 14px;
    height: 14px;
    left: 47px;
    top: 5px;
  }
  @media screen and (max-width: 400px){
    left: 33px;
  }
}

.progress_list3{
  @media screen and (max-width: 425px){
    width: auto !important;
  }
  @media screen and (min-width: 768px){
    margin-left: -30px;
  }

}